<div class="row">
  <div class="col-md-6">
    <h3>Day 1 — Wednesday 10 June</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:30 – 9:55</td>
        <td>Welcome and opening</td>
      </tr>
      <tr>
        <td>9:55 – 10:05</td>
        <td>Environment log in</td>
      </tr>
      <tr>
        <td>10:05 – 10:35</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/00-introduction/">Introducing R and RStudio IDE</a></td>
      </tr>
      <tr>
        <td>10:35 – 10:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45 – 11:40</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/01-r-basics/">R Basics — objects</a></td>
      </tr>
      <tr>
        <td>11:40 – 11:50</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:50 – 12:25</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/01-r-basics/">R Basics — vectors</a></td>
      </tr>
      <tr>
        <td>12:25</td>
        <td>End</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 — Thursday 11 June</h3>
    <table class="table table-striped">
      <tr>
        <td>9:30 – 9:35</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/02-data-prelude/">Introduction to the example dataset</a></td>
      </tr>
      <tr>
        <td>9:35 – 10:35</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/03-basics-dataframes-manipulation/">Data frames and manipulation</a></td>
      </tr>
      <tr>
        <td>10:35 – 10:45</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45 – 11:15</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/04-data-visualisation/">Data Visualisation with ggplot2</a></td>
      </tr>
      <tr>
        <td>11:15 – 11:25</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:25 – 11:55</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/05-r-help/">Getting help with R</a></td>
      </tr>
      <tr>
        <td>11:55</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
