<div class="row">
  <div class="col-md-6">
    <h3>Day 1 — Wednesday 10 June</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:30 am</td>
        <td>Welcome, introductions, and platform setup</td>
      </tr>
      <tr>
        <td>9:45 am</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/00-introduction/">Introducing R and RStudio IDE</a></td>
      </tr>
      <tr>
        <td>10:30 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45 am</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/01-r-basics/">R Basics</a></td>
      </tr>
      <tr>
        <td>11:30 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:45 am</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/02-data-prelude/">Introduction to the example dataset and file type</a></td>
      </tr>
      <tr>
        <td>12:20 pm</td>
        <td>Wrap up and questions</td>
      </tr>
      <tr>
        <td>12:30 pm</td>
        <td>End</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 — Thursday 11 June</h3>
    <table class="table table-striped">
      <tr>
        <td>9:30 am</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/03-basics-dataframes-manipulation/">Data frames and manipulation</a></td>
      </tr>
      <tr>
        <td>10:30 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>10:45 am</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/04-data-visualisation/">Data Visualisation with ggplot2</a></td>
      </tr>
      <tr>
        <td>11:30 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:45 am</td>
        <td><a href="https://genomicsaotearoa.github.io/Introduction-to-R/05-r-help/">Getting help with R</a></td>
      </tr>
      <tr>
        <td>12:15 pm</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
        <td>12:30 pm</td>
        <td>End</td>
      </tr>
    </table>
  </div>
</div>
